__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3
*.egg-info/
*.egg
dist/
build/
*.log

playwright/.local-browsers/
playwright/.cache/
playwright/.npm/
playwright/.yarn/

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

*.json
*.csv
*.sqlite

venv/
.venv/

